@import 'https://use.fontawesome.com/releases/v6.5.1/css/all.css';
/* @import 'https://fonts.googleapis.com/css2?family=Poppins'; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap');


* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Poppins, sans-serif;
    background-color: white;
    font-size: 7px;
}

.main {
    width: 656px;
    margin: auto;
    border: 1px solid green;
}

/* Navigation bar section */

.header {
    height: 256px;
    background-image: url('images/landing-photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 130px;
}
.header-top h1 {
    font-weight: 800;
    font-size: 12px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}
.header-nav li {
    text-decoration: none;
    list-style-type: none;
}
.header-banner a,
.header-nav li:nth-child(5) {
    padding: 3px 10px;
    background-color: #370511;
    color: white;
    border-radius: 16px;
    text-decoration: none;

}
.header-banner {
    padding: 50px 130px;
}
.header-banner h1 {
    font-weight: 800;
    font-size: 20px;
}
.header-banner h2 {
    font-weight: 400;
    font-size: 10px;
}
.header-banner p {
    padding: 10px 0px 20px 0px;


}

/* Content cards */

.content h1 {
    text-align: center;
    padding: 30px 0px 5px;
}
.content > p {
    text-align: center;
    font-size: 8px;
    color: grey;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 114px 0px 114px;
}

.card {
    width: 129px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.card p {
    padding: 5px 0px;
    text-align: left;
}
.card a {
    padding: 3px 10px;
    border: 1px solid grey;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    width: 60px;
}